* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background: #4A90E2;
    justify-content: space-between;    
    color: white;
    align-items: center;
    width: 100%;
    height: 50px;
}

header div {
    display: flex;
    justify-content: center;
    align-content: center;
}

header p {
    justify-content: center;
    align-self: center;
    margin-right: 5px;
}

header svg {
    margin: 35px;
}

header img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 35px;
}

.container {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 5px;
}

.posts  {
    display: flex;
    align-items: center;
}

.post {
    background: #fff;
    border-radius: 5px;
}

.post img {
    min-height: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 15px 15px 0 0;
  }

.author {
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    color: #9a9a9a;
    line-height: 14px;;
}

.author div {
    align-self: center;
}

.author p {
    font-weight: bold;
    color: black;
    margin-top: 20px;
    font-size: 15px;
}

.content {
    margin: 15px;
    font-size: 14px;
}

.divider {
    width: 100%;
    height: 1px;
    background: #eeeeee;
}

.postcomments {
    margin-top: 20px;
}

.comment {
    margin-top: 10px;
    display: flex;
}

.comment img {
    margin: 0 3px 15px 21px;
}

.comment p {
    border-radius: 15px;
    background: #eeeeee;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 13px;
}

.comment span {
    font-weight: bold;
    margin-right: 6px;
}